<%= image_tag 'HatchfulExport-All (1)/logo_transparent.png', class: "w-25" %>
<h1 class="important">トップページ</h1>

<div class="flex-column d-flex ">
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></div>
  <%= link_to 'ゲスト管理者ログイン（閲覧用）', users_admin_guest_sign_in_path, method: :post %>
</div>

