<h1>Dangerous Spots</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Content</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dangerous_spots.each do |dangerous_spot| %>
      <tr>
        <td><%= dangerous_spot.address %></td>
        <td><%= dangerous_spot.content %></td>
        <td><%= dangerous_spot.latitude %></td>
        <td><%= dangerous_spot.longitude %></td>
        <td><%= dangerous_spot.image %></td>
        <td><%= link_to 'Show', dangerous_spot %></td>
        <td><%= link_to 'Edit', edit_dangerous_spot_path(dangerous_spot) %></td>
        <td><%= link_to 'Destroy', dangerous_spot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dangerous Spot', new_dangerous_spot_path %>
