<div class="dangerous_spot_field">
  <p>
    <strong>事象:</strong>
    <%= @dangerous_spot.content %>
  </p>

  <p>ラベル: 
    <% @dangerous_spot.labels.each do |label| %>
      <%= label.name %>
    <% end %>
  </p>
  
  <div id='map'></div>
  <style>
  #map {
    height: 600px;
    width: 100%;
  }
  </style>
  
  <!-- js部分 -->
  <script>
  //初期マップの設定
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()
    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: <%= @dangerous_spot.latitude %>, lng: <%= @dangerous_spot.longitude %>},
      zoom: 15,
    });
    marker = new google.maps.Marker({
      position:  {lat: <%= @dangerous_spot.latitude %>, lng: <%= @dangerous_spot.longitude %>},
      map: map
    });
  # }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5ndDC1vnRKBF8z8yp3w2BP1NAEXw_TY&callback=initMap" async defer></script>
  
  
  <%= link_to '戻る', dangerous_spots_path%>
</div>
